name: CD

on:
  push:
    branches: [ "release" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  publish:
    needs: ci
    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v3
      
    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: cargo publish
      run: cargo publish --token ${{ secrets.CRATESIO_API_TOKEN }}

  versionnum:
    needs: publish
    runs-on: ubuntu-latest

    outputs:
      version_number: ${{ steps.getvers.outputs.version }}
    
    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    - id: getvers
      name: Get version number from Cargo manifest
      run: |
        version=$( cargo read-manifest | jq '.version' )
        echo "version=$version" >> "$GITHUB_OUTPUT"

  release:
    needs: versionnum
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - name: Checkout sources
      uses: actions/checkout@v3

    # - name: Create tag
    #   uses: EndBug/latest-tag@latest
    #   with:
    #     ref: "v${{ needs.versionnum.outputs.version }}"
      
    # - name: Create release
    #   run: gh release create v${{ needs.versionnum.outputs.version }} -F CHANGELOG.md --target release
    
    # - name: merge release -> main
    #   uses: devmasx/merge-branch@master
    #   with:
    #     type: now
    #     from_branch: release
    #     target_branch: main
    #     message: Merging v${{ needs.versionnum.outputs.version }} release
    #     github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: create PR to merge back to main
      uses: peter-evans/create-pull-request@v5
      with:
        branch: published/${{ needs.versionnum.outputs.version }}
        delete-branch: true
        base: main
        title: Update with release v${{ needs.versionnum.outputs.version }}
        body: v${{ needs.versionnum.outputs.version }} has been successfully released. This incorporates the changes back into main.
        assignees: rcrisanti